<div class="container my-5">
  <h2 class="mb-3">Add New Employee</h2>
<div class="row">
  <div class="col-6">
     <form #form="ngForm" (ngSubmit)="addEmployee()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name"
        [(ngModel)] ="addEmployeeRequest.name" name="name"/>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email"
        [(ngModel)] ="addEmployeeRequest.email" name="email"/>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="number" class="form-control" id="phone"
        [(ngModel)] ="addEmployeeRequest.phone" name="phone"/>
      </div>
      <div class="mb-3">
        <label for="salary" class="form-label">Salary</label>
        <input type="number" class="form-control" id="salary"
        [(ngModel)] ="addEmployeeRequest.salary" name="salary"/>
      </div>
      <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <input type="text" class="form-control" id="department"
        [(ngModel)] ="addEmployeeRequest.department" name="department"/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div>
